* {
    margin: 0;
    padding: 0;
}
li{
    box-sizing: content-box;
}

body {
    font-size: .1rem;
}

.wrappers {
    width: 100%;
    margin: 0 auto;
    font-size: .1rem;
}

.line {
    width: 100%;
    font-size: .095rem;
    line-height: normal;
}

.addf-line {
    width: 100%;
    font-size: .098rem;
    line-height: normal;
    margin-top: 2%;
}

.bigle{
    margin-right: 1%;
    float: left;
    width: 51%;
    text-align: right;
    height: 24px;
    margin-top: .015rem;
}

.le {
    float: left;
    width: 30%;
    text-align: right;
    height: 24px;
    margin-top: .015rem;
    color: #777;
}

.addf-line-le {
    display: inline-block;
    float: left;
    width: 30%;
    text-align: right;
    height: 24px;
    margin-top: .015rem;
    color: #777;
}
.nextLineHints{
    margin-left: 32%;
    height: 24px;
    margin-top: .015rem;
    color: #777;
}

.mid {
    float: left;
    width: 20%;
    margin-left: 2%;
    color: #677;
}

.addf-line-mid {
    float: left;
    width: 36%;
    margin-left: 2%;
    color: #677;
}

.rig {
    float: left;
    width: 45%;
}

.addf-line-rig {
    float: left;
}

.clear {
    clear: both;
}

.form-control {
    width: 90%!important;
    height: 18px;
    margin: 3px 0 0 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    padding: 2px 5px;
    -moz-box-sizing: content-box!important;
}
@-moz-document url-prefix() { 
    #inputPar .form-control {
    width: 90%!important;
    margin: 3px 0 0 0;
    height: inherit;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}
     }

.table-form-control {
    width: 50%!important;
    height: 18px;
    margin: .02rem 0 0 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    padding: 2px 5px;
}

.table-seclect {
    border: 1px solid #ccc;
    border-radius: 4px;
}

.checkbox,
#dhcpswitch {
    height: 18px;
    margin-top: .02rem;
}

.btn {
    display: inline-block;
    margin: 3px 0 0 0;
    height: 24px;
    border: 1px solid transparent;/* 
    border-radius: 4px; */
    padding: 2px;
    font-size: 14px;
    cursor: pointer;
}

.title-btn {
    font-size: .11rem;
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    cursor: default;
    padding: 1px 3px;
    height: auto;
}

.btn-save {/* 
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c; */
}

.btn-file {
    margin: 3px;/* 
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c; */
}

.btn-add {/* 
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da; */
}

.btn-danger {
    display: block;
    /* color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a; */
}

.default-btn {/* 
    color: #333;
    background-color: #e6e6e6;
    border-color: #8c8c8c; */
}

.notice {
    width: 90%;
    margin: 0 auto;
    font-size: .095rem;/* 
    color: #31708f; */
}

.space {
    background-color: #fff;
    border-color: #fff;
    height: 24px;
    width: 19px;
    margin: .02rem 0 0 0;
}

hr {
    margin-top: 3px;
    margin-bottom: 10px;
    border: 0;
    border-top: 1px solid #eee;
}

.hints {
    color: #8a6d3b;
    height: 24px;
    margin-top: .015rem;
    display: block;
}

#static-mask,
#protocol {
    height: 24px;
    margin-top: .015rem;
    border: 1px solid #ccc;
    border-radius: 2px;
    font-size: 14px;
    
}
#static-mask{
    width: 1rem;
    min-width: 148px;
}
#protocol{
    
    width: .8rem;
    min-width: 110px;
}

.mid-span {
    display: block;
    height: 24px;
    margin-top: .015rem;
}

.addf-foot {
    margin: 3% 0;
    height: 30px;
    background-color: #f6f6f6;
}

.addf-foot button {
    display: inline;
}

.sure {
    margin:0 5% 0 40%;
}

.close {
    position: absolute;
    top: 2px;
    right: 4px;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
}


.table-tool {
    text-align: center;
    margin: 10px 0;
}

.seaop-lab,
.seacon-lab {
    display: inline-block;
    float: left;
    width: 15%;
    margin: 0 0 0 1%;
}

.seaop-lab {
    padding-top: 3px;
}

.seaop-lab select {
    height: 18px;
}

.seaop-lab span,
.seacon-lab span {
    font-size: 16px;
    color: #777;
}

.tab-tool,
.sea-btn,
.clear-tab,
.display-all {
    float: left;
    margin-left: 1%;
}

.tab-th {
    background-color: #D9EDF7;
}

.div-bgd {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    display: none;
}

.div-bgd1 {
    position: relative;
    width: 100%;
    height: 100%;
}

.div-bgd2 {
    position: fixed;
    background-color: #333;
    opacity: 0.4;
    filter: alpha(opacity=0);
    width: 100%;
    height: 100%;
}

.addf {
    position: absolute;
    top: 30%;
    left: 40%;
    width: 4.8rem;
    border: 1px solid #ccc;
    z-index: 1000;
    background-color: #fff;
    -moz-user-select: none;
    -webkit-user-select: none;
    display: none;
}

.addf-head {
    height: 30px;
    background-color: #1f2d30;
    position: relative;
    z-index: 1000;
}

.dataTables_paginate {
    margin-right: 2%;
}

.dataTables_info {
    margin-left: 1%;
}
@-webkit-keyframes stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

.bottom-btn{
    float: right;
}

.hintDiv{
    text-align: center;
    width: 100%;
    line-height: normal;
}
 .hintDiv .hints{
    height: inherit;
 } 
.top-button input[type="button"]{
    margin-right: 10px;
}
.tab-div-th{
    background-color: #ceeeec;
}
input[type="file"]{
    background: #eee;
}
.threeDiv input[type="button"]{
    display: block;
}
.display{
    text-align: center;
}
.line-wrap{
    margin-top: 10px;
    border-top: 1px solid #ccc;
}
.line-top-btn{
    margin-left: 52%;
    margin-top: 10px;

}

.addf-cont td:first-child {
    width: 25%;
    text-align: right;
    padding-right: 2%;
}
.addf-cont tr {
    height: 23px;
}
.addf-cont table{
    width: 90%;
    margin: 10px auto;
}
.addf-cont table td[colspan="2"] {
    text-align: center;
}