html, body {
    font-family: Arial,sans-serif;
        font-family: "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

input[type=radio], input[type=checkbox], label{cursor: pointer;}
.wrapper {
    font-size: 12px;
    margin: 0 auto;
    min-width: 500px;
    padding: 20px;
}
.block {
    display: block;
}
.clear {
    clear: both;
}
.clear:after {
    clear: both;
    content: "";
    display: block;
    height: 0;
    visibility: hidden;
}
.left {
    float: left;
}
.right {
    float: right;
}
.hide {
    display: none;
}
.link_button {
/*
    background-color: #ECE9D8;
    border: 1px solid #BBBBBB;
    color: #000000;
    cursor: pointer;
    font-size: 0.9em;
    height: 14px;
    line-height: 14px;
    padding: 5px 12px;
    text-align: center;
    text-decoration: none;
*/
    background-color: #ECE9D8;
    border: 1px solid #BBBBBB;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    font-size: 0.9em;
    height: 22px;
    line-height: 24px;
    text-align: center;
    padding: 0 5px;
    text-decoration: none;
    min-width: 50px;
}
.link_button:hover {
    background-color: #4D9AF0;
    color: #FFFFFF;
    text-decoration: none;
}
.link_button:active {
    position: relative;
    top: 1px;
}    
.button, button, input[type="submit"], input[type="button"] {
    border: 1px solid #BBBBBB;
    cursor: pointer;
    display: inline-block;
    font-family: inherit;
    font-size: 0.9em;
    height: inherit;
    min-height: 22px;
    padding: 0;
    text-align: center;
    text-decoration: none;
    min-width: 60px;
}
.button:hover, button:hover, input[type="submit"]:hover, input[type="button"]:hover {
    background-color: #4D9AF0;
    color: #FFFFFF;
    text-decoration: none;
}
.button:active, button:active, input[type="submit"]:active, input[type="button"]:active {
    position: relative;
    top: 1px;
}
label {
    /*
    display: inline-block;
    text-align: left;
    */
}
select, input {
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 1em;
}
select, input[type="file"], input[type="text"], input[type="password"] {
    display: inline-block;
}
input[type="text"]:hover, input[type="password"]:hover {
}
input[type="text"]:focus, input[type="password"]:focus {
}
input[type="text"], input[type="password"] {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    -moz-box-sizing: border-box;
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #C0C0C0 #D9D9D9 #D9D9D9;
    border-image: none;
    border-radius: 1px 1px 1px 1px;
    border-style: solid;
    border-width: 1px;
    width: inherit;
}
input[type="text"]:hover, input[type="password"]:hover {
    border: 1px solid #B4B4B4;
}
.top {
    top: 0;
}
.bottom {
    bottom: 0;
}
.nav {
    background: none repeat scroll 0 0 #F6F6F6;
    position: absolute;
    width: 100%;
    z-index: 100;
}
.fixnav {
    position: fixed;
    width: 100%;
    z-index: 100;
}
.nomal {
    font-size: 1em;
    height: 22px;
    line-height: 22px;
    width: 160px;
}
.normal_vm {
    margin: 1em 0;
}
.normal_vp {
    padding: 1em 0;
}
.normal_area {
    border: 1px solid #E5E5E5;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15) inset;
    font-size: 1em;
    margin: 0 0 1em;
    padding: 1em;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
}
.forbid_select {
    -moz-user-select: none;
}
.center {
    margin: 0 auto;
    text-align: center;
}
.error {
    color: #FF0000;
}
legend b {
    color: #FF6B09;
}
div.choose_area {
    margin-left: 0;
    height: 33px; 
    border-bottom: 2px solid #4D9AF0;
        margin-bottom:5px;
}

ul.ulplace {
    list-style: none outside none;
    margin: 0 auto;
    padding: 0;
    white-space: nowrap;
}
ul.ulplace li {
    float: left;
    margin-right: 1em;
    height: 20px;
}

.filter_menu {
    padding: 5px 0;
}

.ol_tag {
    list-style: none outside none;
    float: left;
    margin: 0;
    padding: 0;
}

.ol_tag li {
    background-color: #EFEFEF;
    border-left: 1px solid #BEBEBE;
    border-radius: 3px 3px 0 0;
    border-right: 1px solid #BEBEBE;
    border-top: 1px solid #BEBEBE;
    float: left;
}
.ol_tag li a {
    color: #000000;
    display: block;
    line-height: 32px;
    padding: 0px 15px;
    text-align: left;
    text-decoration: none;
        font-size:14px;
}
.choose_area a.selected {
    color:#FFF;
    background-color: #0e6ccd;
}
div.content_area {
    width: 1000px;
}

.top-page {
    float: right;
    padding: 5px 0;
}
.top-page p {
    margin: 0;
}
.top-button {
    float: left;
    padding: 5px 0;
}
.main_table {
      border-collapse: collapse;
    border: 1px solid #DDD;
    text-align: left;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;
}
.main_table th {
    border: 1px solid #DDD;
        border-bottom-width:2px;
    height: 20px;
    text-align: left;
        background-color: #D9EDF7;
}
.main_table .th-index {
    min-width: 4em;
    width: 5%;
}
.th-index input {

}
.main_table .th-name {
    min-width: 9px;
    width: 12em;
}
.main_table td {
    border: 1px solid #DDDDDD;
    height: 20px;
    text-align: left;
}
.main_table tr:nth-child(2n)
{
    background:#F0F0F0;
}
.main_table>tbody>tr:hover{
    background-color:#DDD;
}
div.btn {
    padding-top: 20px;
    text-align: center;
    white-space: nowrap;
}
.btn a {
    margin-right: 12px;
}
.btn input {
    margin-left: 20px;
}
.main_title {
    border-bottom: 2px solid #4D9AF0;
    font-size: 13px;
    font-weight: bold;
    line-height: 24px;
    margin: 0;
        margin-bottom: 5px;
    text-align: left;
}

.mainbody {
    padding: 0 2px;
}
.cell_content {
    margin: 0 auto;
    padding: 20px;
    text-align: left;
}
.cell_content table {
    margin: 0 auto;
}
.cell_content table td {
    padding: 0.5em 0.2em;
}
.placelap {
    position: relative;
    height: inherit;
    width: 120px;
}
.placelap .hoverele {
    color: #AAAAAA;
    cursor: text;
    text-indent: 5px;
    z-index: 1;
}
.placelap .lapele, .placelap .inputele {
    left: 0;
    position: absolute;
    top: 0;
}

.page_navi {
    vertical-align: center;
    position: relative;
}

.page_navi span {
    margin-left: 3px;
}
.page_navi_bottom {
    text-align: right;
    padding: 4px 2px 0 0;
}
.page_navi {
    width: 100%;
}
.page_navi a:hover, .page_navi a.current {
    border: 1px solid #FFBB76;
    color: #FF7200;
}
.page_navi a {
    border: 1px solid #DDDDDD;
    /*border-radius: 12px 12px 12px 12px;*/
    color: #888888;
    margin: 0 2px 2px;
    padding: 1px 8px;
    text-decoration: none;
    display: inline-block;
}
.multi_select {
    display: block;
    width: 100px;
}
.box {
    border: 1px solid #58B9E8;
    padding: 10px;
    text-align: left;
}
.box td {
    padding: 0.2em;
}
.advanced_box, .scan_box, .service_box, .position_box {
    background-color: #FFFFFF;
    left: 200px;
    position: absolute;
    top: 200px;
    z-index: 1;
}
.loadingimg {
    margin: 0 1em 0 0;
}
.editbox-table {
    width: 100%;
}
.editbox-table td {
    border-bottom: 1px solid #DDDDDD;
    padding-bottom: 0.5em;
}
.editbox-table td img {
    max-width: 640px;
}
.editbox-table tr > *:first-child {
    width: 230px;
    vertical-align: top;
}
.editbox-table br {
    margin: 0.5em 0;
}
.editbox-table textarea, .editbox-table input[type="text"] {
    width: 640px;
}
.dialog_window {
}
.dialog_window .dialog_window-bg {
    background-color: #EEEEEE;
    height: 100%;
    left: 0;
    opacity: 0.7;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.dialog_window .dialog_window-head {
    background-color: #0088FF;
    height: 25px;
    position: relative;
    width: 100%;
}
.dialog_window .dialog_window-title {
    color: #FFFFFF;
    font-size: 0.8em;
    left: 5px;
    line-height: 25px;
    position: absolute;
    top: auto;
}
.dialog_window .dialog_window-closebtn {
    background: url("/htmls/images/close.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    cursor: pointer;
    height: 25px;
    line-height: 25px;
    position: absolute;
    right: 0;
    top: 0;
    width: 25px;
}
.dialog_window .dialog_window-main {
    background-color: #FFFFFF;
    border: 1px solid #0088FF;
    font-size: 0.9em;
    position: absolute;
    z-index: 1001;
}
.dialog_window .dialog_window-content {
    padding: 25px 10px;
    text-align: center;
}
._dialog_dialog {
    background-color: #FFFFFF;
    border: 1px solid #DDE;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
    position: absolute;
    z-index: 1000;
    min-width:320px;
}
._dialog_head {
    position: relative;
    height: 20px;
    margin:-8px 0 0;
    padding-bottom: 2px;
    border-bottom: 2px solid #F80;
    cursor: move;
}

._dialog_title {
    position: absolute;
    left: 2px;
    top: 4px;
    font-size: 14px;
}
._dialog_close {
    position: absolute;
    right: 2px;
    top: 0;
    font-size: 16px;
    width: 16px;
    text-align: center;
    cursor: pointer;
}

._dialog_close:hover {
    background-color: #F80;
    color: #FFF;
}
._dialog_content {
    margin: 10px auto;
    text-align: center;
}

._dialog_btn {

}
span em {
    color: #777777;
    font-size: 0.9em;
    font-style: normal;
    padding: 0 5px;
    text-decoration: underline;
}
.vertiplace {
    margin: 0 auto;
    margin-top: 12px;
    width: 95%;
}
.vertiplace .line {
    margin-bottom: 12px;
    position: relative;
}
.line-submit {
    border-top: 2px solid #D5D5D5;
    margin: 20px 0 12px;
    position: relative;
}
.line-submit div {
    float: right;
    margin-top: -2px;
    padding: 10px 0 5px 40px;
}
.rightspan {
    text-align: right;
}
.row-label, .row-rlabel {
    float: left;
}
.row-rlabel {
    margin-right: 15px;
    text-align: right;
    width: .98rem;
    height: 16px;
    min-width: 123px;
}
.row-text, .row-input {
    overflow: hidden;
    text-align: left;
    vertical-align: middle;
}

.ctest {
    background-color: #FFFFFF;
    border: 1px solid #DDE;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    float: left;
    list-style: none outside none;
    margin: 2px 0 0;
    min-width: 160px;
    padding: 0;
    position: absolute;
    z-index: 1000;
    overflow:auto;
    height: 600px;
    top: 0;
}
.ctest > div {
    color: #999999;
    font-weight: normal;
    line-height: 20px;
    padding: 3px 20px;
    white-space: nowrap;
}

.ctest > div:hover {
    background-color: #007AF5;
    background-image: linear-gradient(to bottom, #007FFF, #0072E6);
    background-repeat: repeat-x;
    color: #FFFFFF;
    outline: 0 none;
    text-decoration: none;
}

.not_run a {
    color: #999999;
}
.not_run td {
    color: #999999;
}

.tsort {
    cursor: pointer;
}
.tsort:hover {
    background-color: #DDD;
}
.sortup {
    background: url(/htmls/img/sortup.png) no-repeat;
    background-position: center right;
}

.sortdown {
    background: url(/htmls/img/sortdown.png) no-repeat;
    background-position: center right;
}

.hint{
    color:red;
    font-weight:bold;
}

.indent{margin-left:2em;}
.demo-placeholder {
    float:left; 
    width:480px;
    height: 60%;
    font-size: 14px;
    line-height: 1.2em;
}
.demo-container {
    box-sizing: border-box;
    width: 760px;
    height: 550px;
    padding: 0px 15px 15px 15px;
    margin: 15px auto 30px auto;
    border: 1px solid #ddd;
    background: #fff;
    background: linear-gradient(#f6f6f6 0, #fff 50px);
    background: -o-linear-gradient(#f6f6f6 0, #fff 50px);
    background: -ms-linear-gradient(#f6f6f6 0, #fff 50px);
    background: -moz-linear-gradient(#f6f6f6 0, #fff 50px);
    background: -webkit-linear-gradient(#f6f6f6 0, #fff 50px);
    box-shadow: 0 3px 10px rgba(0,0,0,0.15);
    -o-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    -ms-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}
.tb-interference{
    margin-top:15px;
    float:right;
    width:180px;
    #display:none;
}
.tb-interference caption{
    font-size:24px;
    padding: 5px;
    text-shadow:0px 1px #ddd;
}
.tb-interference .on td{
    background:#0e6ccd;
}

.whitedst_hint {
	font-size:14px;
	font-weight:bold;
	margin:0px;
}

.whitedst_hint_ul {
	margin:0px;
	list-style-type:none;
}
.whitedst_hint_ul span {
	width:40px;
	display:inline-block;
	font-weight:bold;
}
.field-wrap{
    padding-top: 30px;
}
fieldset{
    padding: 2px;
    width:3.5rem;
    min-width: 405px;
}
.line-submit input[type="button"]{
    width: 80px;
}
.line-b{
            margin-bottom: 5px;
        }