@import './icon/iconfont.css';

*{
  margin: 0;
  padding: 0;
}

html{
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

html, body{
  height: 100%;
  background: #f7f7fa;
}

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

#app {
  height: 100%;
}

iframe{
  border: none;
  width: 99% !important;
}

ul{
  list-style-type: none;
}

.el-input{
  display: inline-block;
  width: 160px !important;
}

.tabs{
  display: flex;
  flex-flow: nowrap column;
  margin: 20px;
  height: 100%;
  box-sizing: border-box;
}

.tabs .el-tabs__content{
  flex: 1;
}

.el-tab-pane{
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  box-sizing: border-box;
}

.pull-right{
  float: right;
}

.el-pagination .el-input{
  width: 100px !important;
}

th{
  background: #f7f7fa !important;
}

.el-menu-item-group .el-menu-item{
  background-color: #1f2d3d !important;
}

.el-menu-item:hover{
  background-color: #001528 !important;
  cursor: pointer;
}

.el-menu-item.is-active{
  color: rgb(64, 158, 255) !important;
}

.leftnav .el-submenu__title:hover{
  background-color: #001528 !important;
}

.topnav .is-active>.el-submenu__title{
  color: rgb(64, 158, 255) !important;
  border-bottom: 1px solid rgb(64, 158, 255) !important;
}

.topnav .el-submenu__title:hover{
  background-color:rgb(21, 49, 74) !important;
}

.el-menu-item-group__title{
  padding: 0;
}